/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #d8d8d8;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }
ul {list-style: none;}

a {
  color: #43a7c7;
  text-decoration:underline;
}
a:hover {
  color: #267c97;
  text-decoration: none;
}
a:visited { color: #f56fac; }

/* clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home .posts{
  width: 900px;
  margin: 0 auto;
}

#home .posts li{
  width: 440px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  background:#ffffff;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#home .posts li:nth-child(even){
  margin-right: 0;
}

#home .posts li .title{
  padding: 10px 30px;
  background: #267c97;
  border-top:1px solid #43a7c7;
  border-bottom:1px solid #186077;
  color: #ffffff;
  font-size: 1.3em;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  border-top-left-radius: 20px;
}
#home .posts li .title a{
  color: #ffffff;
  text-decoration: none;
}

#home .posts li .thumb{
  margin:10px auto;
  text-align: center;
}
#home .posts li .thumb img{
  max-width: 400px!important;
  border:5px solid #ffffff;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

#home .posts li .bottom_area {
  position: relative;
  padding: 0 0 60px 0;
  background: #353535;
  color: #ffffff;
  border-bottom-right-radius: 20px;
}

#home .posts li .bottom_area .excerpt{
  padding: 10px 20px;
  width: 60%;
  float: left;
}
#home .posts li .bottom_area .btn_more{
  float: right;
  height: 0;
  width: 0;
  margin-top:25px;
  margin-right: -35px;
  border:75px solid #000000;
  border-color: transparent;
  border-left-color: #000000;
}
#home .posts li .bottom_area .btn_more p{
  margin-top: -10px;
  margin-left: -60px;
  font-size: 0.8em;
}
#home .posts li .bottom_area .btn_more p a{
  display: block;
  margin-top: -70px;
  margin-left: -15px;
  padding:60px 11px; 
  color: #ffffff;
  text-decoration: none;
}
#home .posts li .bottom_area .btn_more p a:hover{
  text-decoration: underline;
}
#home .posts li .bottom_area .btn_use{
  position: absolute;
  bottom: 20px;
  left: -11px;
  margin:0;
  padding: 7px 0 0 0;
  background-image: url(/images/parts_ribbon.png);
  background-repeat: no-repeat;
  font-size: 1.5em;
}
#home .posts li .bottom_area .btn_use a{
  display: block;
  padding: 10px 60px;
  background-color: #d1387d;
  border-top:1px solid #f56fac;
  border-bottom:1px solid #9b1a54;
  color: #ffffff;
  text-decoration: none;
}

#home .posts li .bottom_area .btn_use a:hover{
  text-decoration: underline;
}

/* about_us */
#about_us{
  padding-bottom: 30px;
}
#about_us .sub_tit{
  margin-bottom: 30px;
  padding: 10px 30px;
  background: #666666;
  border-top:1px solid #999999;
  border-bottom:1px solid #333333;
  color: #ffffff;
  font-size: 1.3em;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  border-top-left-radius: 20px;
}
#about_us .txt01{
  margin:10px 20px;
}
#about_us .profile{
  margin:30px 20px 0;
}
#about_us .profile dt{
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 40%;
  margin-right: 10px;
  padding: 2% 3%;
  background: #efefef;
  color: #666666;
}
#about_us .profile dd{
  width: 40%;
}
#about_us .profile dt,
#about_us .profile dd{
  display: inline-block;
  margin-bottom: 10px;
}
#about_us .icon{
  width: 50px;
  display: block;
  margin-bottom: 10px;
}

/*****************************************************************************/
/*
/* Layout
/*
/*****************************************************************************/
#home{
  overflow: hidden;
}
.header{
  margin:0 0 30px 0;
  padding:30px 0; 
  background: #267c97;
  border-top:1px solid #43a7c7;
  border-bottom:1px solid #186077;
  text-align: center;
}
.header span{
  color: #ffffff;
}

.footer{
  margin: 0;
  padding: 20px 0;
  background: #353535;
  color: #ffffff;
  text-align: center;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #000000;
}
.footer .copy{}

.footer .to_top{
  position: fixed;
  bottom:0;
  right: 5%;
  height: 0;
  width: 0;
  border-top:0px solid transparent;
  border-left:55px solid transparent;
  border-right:55px solid transparent;
  border-bottom:95px solid #686868;
}
.footer .to_top a{
  display: block;
  width: 95px;
  margin-top: 10px;
  margin-left: -48px;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
}
.footer .to_top a:hover{
  text-shadow:2px 2px 2px #333;
}
.footer .to_top .arrow{
  display: block;
  margin-bottom: 5px;
}

#scroll-to-top {
  transition: opacity 0.1s linear 0;
  opacity: 1;
}
#scroll-to-top.scroll-to-top-not-display {
  -webkit-transform:translate(-9999px);
  -moz-transform:translate(-9999px);
  transform:translate(-9999px);
  opacity: 0;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post_detail{
  width: 54%;
  margin:0 auto 5%;
  padding:0 0 5%; 
  background: #ffffff;
  box-shadow: 1px 1px 1px #ccc;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#post_detail .title{
  padding: 1% 2%;
  background: #267c97;
  border-top:1px solid #43a7c7;
  border-bottom:1px solid #186077;
  color: #ffffff;
  font-size: 2em;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  border-top-left-radius: 20px;
}

#post_detail .meta{
  text-align: right;
  margin-right: 5%;
}

#post_detail .thumbnail{
  max-width: 650px;
  margin: 0 auto 5%;
  text-align: center;
}
#post_detail .thumbnail img{
  padding: 1%;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

#post_detail .post{
  padding: 0 5%;
}
#post_detail .post h3{
  margin-bottom: 2%;
  padding: 1% 3%;
  background: #267c97;
  border-top:1px solid #43a7c7;
  border-bottom:1px solid #186077;
  color: #ffffff;
  font-size: 1.3em;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}
#post_detail .post h4{
  font-size: 1.3em;
  padding: 1% 3%;
  background-color: #d1387d;
  border-top:1px solid #f56fac;
  border-bottom:1px solid #9b1a54;
  font-weight: normal;
  color: #ffffff;
}

#post_detail .post img{
  margin: 3% 0;
  padding: 1%;
  max-width: 650px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}



/*----------------------------------
メディアクエリ
----------------------------------*/
@media screen and (max-width: 959px) {
	#home .posts{
		width: 90%;
	}
	#home .posts li{
		width: 100%;
	}
	#home .posts li .thumb img{
		width: 100%;
	}
}
@media screen and (min-width: 960px) {
  #container {
    widht: 960px;
    margin: 0 auto;
  }
}
